<!DOCTYPE html>
<html>
<style>
body {font-family: Arial;}
* {box-sizing: border-box} 

input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0 ;
    border:none;
    background: #f1f1f1;
}

input:focus{
    background-color: #ddd;
    
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    
}

.next {
  float: left;
  width: 50%;
}

.pad {
    padding: 16px;
}


 .display {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid  ;
    width: 50%; 
}

.fix::after {
    content: "";
    clear: both;
    display: table;
}

</style>
<body>
  <form class="display" action="">
    <div class="pad">
      <h1>Log In</h1>
      <label><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <div class="fix">
        <button type="signup" class="next">signup</button>
      </div>
    </div>
  </form>
</div>


</body>
</html>
